body {
    padding-top: 100px;
}


/*
body {
    margin: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #3C3C3B;

}

.container {
    width: 60%;
    margin: 0 auto;
}

header {
    background: white;
    border-bottom: 3px solid black;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
}


.clearfix:after {
    clear: both;
}


.logo {
    float: left;
    padding: 10px 0;
    width: 20%;
}

nav {
    float: right;
}

nav ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 15px;
    position: relative;

}

nav a {
    font-family: 'Open Sans', sans-serif;
    color: #3C3C3B;
    text-transform: uppercase;
    text-decoration: none;

}

nav a:hover {
    color: black;
}


nav a::before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #3C3C3B;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}


nav a:hover::before {
    width: 100%;
}

.box {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20%;
    width: 60%;
}

.welcome {
    font-size: 50px;
}

select, input {
    height: 30px;
    min-width: 100px;
    padding: 0px;
}

button {
    border-radius: 3px;
}

 */