<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>FoxClub</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="icon" href="/black.png">
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <div th:replace="template :: header" class="container clearfix" >
    </div>
</header>
<div class = box>
    <ul>
        <li th:each="log : ${logs}"
            th:text="${log}"></li>
    </ul>
</div>
</body>
</html>