<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FoxClub</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="icon" href="/black.png">
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="template :: header" class="container clearfix" >
    </div>
</header>
<div class="box">
    <h1 th:text="${title}"></h1>
    <form th:action="@{/create}" th:method="post" >

        <label>The name of your Fox</label>
        <input type="text" name="name" autofocus/>

        <label>Gender</label>
        <select name=""gender>
            <option th:value="She">girl</option>
            <option th:value="He">boy</option>
        </select>

        <label>Drink</label>
        <select name ="drink">
            <option th:each="drink : ${drinks}"
                    th:value="${drink.id}"
                    th:text="${drink.getName()}"
            ></option>
        </select>

        <label>Food</label>
        <select name ="food">
            <option th:each="food : ${foods}"
                    th:value="${food.id}"
                    th:text="${food.getName()}"
            ></option>
        </select>


        <label>Shoe color</label>
        <select name ="color">
            <option th:each="foxColor : ${colors}"
                    th:value="${foxColor.id}"
                    th:text="${foxColor.getName()}"
            ></option>
        </select>

        <button type="submit">GO</button>
    </form>
</div>
</body>
</html>

<!-- th:field="*{color}"  //  <img src="../static/greenfox.png" alt="logo" class="logo"> -->





