<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FoxClub</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="icon" href="/black.png">
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-9NlqO4dP5KfioUGS568UFwM3lbWf3Uj3Qb7FBHuIuhLoDp3ZgAqPE1/MYLEBPZYM" crossorigin="anonymous">
</head>
<body>
<header>
    <div th:replace="template :: header" class="container clearfix" >
    </div>
</header>
<div class="box">
    <h1 th:text="${title}"></h1>
    <form th:action="@{/createFox}" th:method="post" >

        <div><label>The name of your Fox</label></div>
        <div><input type="text" name="name" autofocus/></div>

        <div><label>Gender</label></div>
        <div>
            <select name="gender">
                <option th:value="She">girl</option>
                <option th:value="He">boy</option>
            </select>
        </div>

        <div><label>Drink</label></div>
        <div>
            <select name ="drink">
                <option th:each="drink : ${drinks}"
                    th:value="${drink.getId()}"
                    th:text="${drink.getName()}"></option>
            </select>
        </div>

        <div><label>Food</label></div>
        <div>
            <select name ="food">
                <option th:each="food : ${foods}"
                        th:value="${food.id}"
                        th:text="${food.getName()}"
                ></option>
            </select>
        </div>

        <div><label>Shoe color</label></div>
        <div>
            <select name ="color">
                <option th:each="foxColor : ${colors}"
                        th:value="${foxColor.id}"
                        th:text="${foxColor.getName()}"
                ></option>
            </select>
        </div>

        <div><button type="submit">GO</button></div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>

<!-- th:field="*{color}"  //  <img src="../static/greenfox.png" alt="logo" class="logo"> -->





