<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FoxClub</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="icon" href="/black.png">
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="template :: header" class="container clearfix" >
    </div>
</header>
<div class="box">
    <h1 class="welcome"> Welcome to the Fox Club</h1>
    <h2>Here you can have your very own Fox!</h2>
    <h3>Please log in to visit your Fox or create a new one!</h3>

    <h1 th:text="${title}"></h1>
    <p>What's your fox's name?</p>
    <form action="/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Log in</button>
    </form>

</div>



</body>
</html>

<!-- <img src="../static/greenfox.png" alt="logo" class="logo"> -->


