<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>FoxClub</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="icon" href="/black.png">
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div th:replace="template :: header" class="container clearfix" >
        </div>
    </header>

    <div th:object="${fox}" th:if="${fox.isAlive()}" class="box" >
        <img th:src="'/' + ${fox.getFoxColor().getName()} + '.png'" alt="logo" class="logo">
        <h1 th:text="'This is ' + ${fox.getName()}"></h1>
        <h2>Hunger:</h2>
        <p th:text="${fox.getHunger()}"></p>
        <h2>Thirst</h2>
        <p th:text="${fox.getThirst()}"></p>

        <div class="tricks" th:if="${fox.getTricks().size() == 0}">
            <h2>Teach them some tricks!</h2>
        </div>

        <div class="tricks" th:unless="${fox.getTricks().size() == 0}">
            <h2>Tricks</h2>
            <ul>
                <li th:each="trick : ${fox.getTricks()}"
                    th:text="${trick.getName()}"></li>
            </ul>

        </div>


        <!--
        <p th:text="${text}"></p>

        <h2>Fullness: </h2><p th:text="${fulltext}"></p>

        <h1 th:text="${trickText} ? 'No tricks :(' : 'Tricks:'" ></h1>

        <ul>
            <li th:each="trick : ${tricks}"
                th:text="${trick}"></li>
        </ul>

    </div>

    <div th:object="${fox}" th:unless="${fox.isAlive()}" class="box">
        <img th:src= "@{|${fox.getFoxColor()}-dead.png|}" alt="logo" class="logo">
        <h1>Your fox is dead :(</h1>
        -->
    </div>






</body>
</html>

<!-- <img src="../static/greenfox.png" alt="logo" class="logo"> -->


