<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FoxClub</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="icon" href="/black.png">
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <div th:fragment="header" class="container clearfix">
        <a href="/">
            <img src="/greenfoxlogo.png" alt="logo" class="logo">
        </a>
        <nav>
            <ul>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/createAccount}">Create Account</a></li>
                <li th:if="${userTest}"><a th:href="@{/createFox}">Create Fox</a></li>
                <li th:if="${userTest} and ${foxTest}"><a th:href="@{/nutrition}">Food</a></li>
                <li th:if="${userTest} and ${foxTest}"><a th:href="@{/learn}">Trick Center</a></li>


                <!--
                <li th:if="${userTest} && ${userFoxTest} && ${foxTest}"><a th:href="@{/nutrition}">Food</a></li>
                <li th:if="${userTest} && ${userFoxTest}  && ${foxTest}"><a th:href="@{/learn}">Trick Center</a></li>
                <li th:if="${userTest} && ${userFoxTest}  && ${foxTest}"><a th:href="@{/info}" th:text="${fox.getName}" ></a></li>
-->
            </ul>
        </nav>
    </div>
</header>
</body>
</html>

<!--    -->