<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FoxClub</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="icon" href="/black.png">
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="template :: header" class="container clearfix" >
    </div>
</header>
<div th:object="${user}" class="box">

    <h1 th:text="'Welcome ' + ${user.getUsername()} + '!'"></h1>
    <h2 th:unless="${userFoxTest}" >You have no foxes yet :( create some!</h2>
    <div th:if="${userFoxTest}">
        <form action="/chooseFox" method="post">
            <label>Choose your fox</label>
            <div>
                <select name ="foxId" th:type="text">
                    <option th:each="foxy : ${userFoxes}"
                            th:value="${foxy.id}"
                            th:text="${foxy.name}">
                    </option>

                </select>
                <div><button type="submit">Choose</button></div>
            </div>
        </form>
    </div>

    <div>
        <form action="/newFox" method="post">
            <button type="submit">Make new fox!</button>
        </form>

    </div>
</div>

</body>
</html>


